{% load static %}
<!DOCTYPE html>
<html lang="es-MX">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Foto Estudio Yuli</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'img/yuli-logo.jpg' %}" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'index/css/styles.css' %}" rel="stylesheet" />
        <!-- reference to your installed font awsome free packages files here-->
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'fontawesomefree/css/all.min.css' %}" type="text/css">
    </head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2M40VZGW07"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-2M40VZGW07');
    </script>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">
                    <img src="{% static 'img/yuli-logo.jpg' %}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top"> Foto Estudio Yuli</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#about">Acerca de</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">Servicios</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">Trabajo</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    {% include 'main/includes/messaging.html' %}
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Foto Estudio Yuli Acámbaro</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Estamos para atender en servicios de fotografía y vídeo profesional, ¡Generando emociones y captura!</p>
                        <a class="btn btn-light btn-xl" href="#about">Descubre más</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Tenemos lo que necesita</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">De Acámbaro Guanajuato, México, ubicados en Morelos #649A y contando con más de 20 años de experiencia en el ámbito, Foto Estudio Yuli le promete grabar
                            sus momentos más especiales con una calidad profesional, generando emociones capturadas en cámara.
                        </p>
                        <a class="btn btn-light btn-xl" href="#services">Conoce nuestros serivicios</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">Nuestros Servicios</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi bi-camera2 fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Fotografía</h3>
                            <p class="text-muted mb-0">Contamos con diferentes tipos de fotos: Ovalo mignon, Pasaporte, Diploma, Cartilla, Visa, Titulo, Credencial, Infantiles en 5 minutos</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi bi-exclamation-circle-fill fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Urgente</h3>
                            <p class="text-muted mb-0">Contamos con ampliaciones y todo tipo de marcos con las siguientes medidas</p>
                            <p></p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-muted">8X10  16X24</li>
                                <li class="list-group-item text-muted">8.5X11  20X24</li>
                                <li class="list-group-item text-muted">11X14  20X32</li>
                                <li class="list-group-item text-muted">11X16  24X30</li>
                                <li class="list-group-item text-muted">16X20  24X36</li>
                              </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi bi-camera-reels-fill fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Videofilmaciones</h3>
                            <p class="text-muted mb-0">Contamos con filmaciones, pueden ser con 1 o 2 cámaras. Tienen efectos titulos y fondo musical, se entregan en USB y DVD</p>
                            <p></p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-muted">Bodas</li>
                                <li class="list-group-item text-muted">XV Años</li>
                                <li class="list-group-item text-muted">Aniversarios</li>
                                <li class="list-group-item text-muted">Presentaciones</li>
                                <li class="list-group-item text-muted">1ras comuniones</li>
                                <li class="list-group-item text-muted">Bautizos, etc</li>
                              </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi bi-file-image fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Vendemos</h3>
                            <p class="text-muted mb-0">USB, MicroSD, Pilas, Rollos fotografícos, albumes, llaveros, portaretratos</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Call to action-->
        <section class="page-section bg-primary text-white">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">Nuestros trabajos</h2>
            </div>
        </section>
        <!-- Portfolio-->
        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'index/assets/img/portfolio/fullsize/1.jpg' %}" title="XV Años">
                            <img class="img-fluid" src="{% static 'index/assets/img/portfolio/thumbnails/1.jpg' %}" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">XV Años</div>
                                <div class="project-name">Sesión de fotos de XV Años</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'index/assets/img/portfolio/fullsize/2.jpg' %}" title="Bodas">
                            <img class="img-fluid" src="{% static 'index/assets/img/portfolio/thumbnails/2.jpg' %}" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Bodas</div>
                                <div class="project-name">Recorrido hacía iglesía boda</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'index/assets/img/portfolio/fullsize/3.jpg' %}" title="Bebés">
                            <img class="img-fluid" src="{% static 'index/assets/img/portfolio/thumbnails/3.jpg' %}" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Bebés</div>
                                <div class="project-name">Toma de caritas</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'index/assets/img/portfolio/fullsize/4.jpg' %}" title="Sesiones">
                            <img class="img-fluid" src="{% static 'index/assets/img/portfolio/thumbnails/4.jpg' %}" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Sesiones de fotos</div>
                                <div class="project-name">Sesiones de fotos familiares</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'index/assets/img/portfolio/fullsize/5.jpg' %}" title="Sesiones">
                            <img class="img-fluid" src="{% static 'index/assets/img/portfolio/thumbnails/5.jpg' %}" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Sesiones de fotos</div>
                                <div class="project-name">Sesiones de fotos familiares</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'index/assets/img/portfolio/fullsize/6.jpg' %}" title="Sesiones">
                            <img class="img-fluid" src="{% static 'index/assets/img/portfolio/thumbnails/6.jpg' %}" alt="..." />
                            <div class="portfolio-box-caption p-3">
                                <div class="project-category text-white-50">Sesiones de fotos</div>
                                <div class="project-name">Sesiones de fotos en pareja</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'index/assets/img/portfolio/fullsize/7.jpg' %}" title="Graduaciones">
                            <img class="img-fluid" src="{% static 'index/assets/img/portfolio/thumbnails/7.jpg' %}" alt="..." />
                            <div class="portfolio-box-caption p-3">
                                <div class="project-category text-white-50">Graduaciones</div>
                                <div class="project-name">Sesiones de fotos de grupo</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'index/assets/img/portfolio/fullsize/8.jpg' %}" title="Graduaciones">
                            <img class="img-fluid" src="{% static 'index/assets/img/portfolio/thumbnails/8.jpg' %}" alt="..." />
                            <div class="portfolio-box-caption p-3">
                                <div class="project-category text-white-50">Graduaciones</div>
                                <div class="project-name">Fotos grupales e individualles</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'index/assets/img/portfolio/fullsize/9.jpg' %}" title="Infantiles">
                            <img class="img-fluid" src="{% static 'index/assets/img/portfolio/thumbnails/9.jpg' %}" alt="..." />
                            <div class="portfolio-box-caption p-3">
                                <div class="project-category text-white-50">Fotos Infantiles</div>
                                <div class="project-name">Fotos infantiles</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0">Contactanos</h2>
                        <hr class="divider" />
                        <p class="text-muted mb-5">Para una mejor cotización y un trato más personalizado visitanos en Morelos #649A Acámbaro, Guanajuato, tambien para más atención o agendar una cita
                            puede contactarnos por los medios disponibles
                        </p>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <div><i class="bi bi-whatsapp"></i> +52 (417) 177-5378</div>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <div><i class="bi bi-telephone-fill"></i> +52 (417) 172-9631</div>
                    </div>
                </div>
                <hr>
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <div>Horario de atención</div>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <div>10:00 - 15:00</div>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <div>17:00 - 20:00</div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2023 - Foto Estudio Yuli Acámbaro</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'index/js/scripts.js' %}"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
